@CHARSET "ISO-8859-1";
#navigationBar {
	background-color: black;			
}
#general {
	background-color: #f44336;
	color: white;
	padding: 14px 14px 14px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#general:hover {
	background-color: red;
}
#hawthorn {
	background-color: #f44336;
	color: white;
	padding: 14px 14px;
	padding-top: 23px;
	padding-bottom: 23px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#hawthorn:hover {
	background-color: red;
}
th {
    background-color: #f44336;
    color: white;
}
td:hover {
	background-color: black;
	color: white;
}
.Positive {
	background-color: rgba(255, 255, 0, 0.35);
}
.Negative {
	background-color: rgba(255, 0, 0, 0.35);
}
.Neutral {
	background-color: rgba(0, 0, 102, 0.35);
}
}