@CHARSET "ISO-8859-1";
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#AdelaideCrowsMap {
	height: 90%;
	width: 70%;
}
#AdelaideCrowsMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#BrisbaneLionsMap {
	height: 90%;
	width: 70%;
}
#BrisbaneLionsMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#FremantleMap {
	height: 90%;
	width: 70%;
}
#FremantleMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#GeelongCatsMap {
	height: 90%;
	width: 70%;
}
#GeelongCatsMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#GoldCoastSunsMap {
	height: 90%;
	width: 70%;
}
#GoldCoastSunsMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#GWSGiantsMap {
	height: 90%;
	width: 70%;
}
#GWSGiantsMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#HawthornMap {
	height: 90%;
	width: 70%;
}
#HawthornMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#SydneySwansMap {
	height: 90%;
	width: 70%;
}
#SydneySwansMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#WestCoastEaglesMap {
	height: 90%;
	width: 70%;
}
#WestCoastEaglesMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#WesternBulldogsMap {
	height: 90%;
	width: 70%;
}
#WesternBulldogsMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#AustralianFootballLeagueMap {
	height: 90%;
	width: 70%;
}
#AustralianFootballLeagueMapDiv {
	height: 90%;
	width: 30%;
	overflow: auto;
}
#result {
	overflow: hidden;
	background-color: black;
}